<body>
<div id="map" class="col 12 m8 l12"></div>
     <div class="fixed-action-btn" style="right:45">
    <a class="btn-floating btn-large tooltipped red left modal-trigger" href="#modal1" data-position="left" data-delay="50" data-tooltip="Consultar localizacion" id="btnFloatingActionButton">
      <i class="large material-icons">navigation</i>
    </a>
  </div>
   <div id="modal1" class="modal">
    <div class="modal-content">
          <div id="content" class="card-panel hoverable">
          <h6 class="teal-text">Buscar ubicacion en el mapa</h6>
      <input id="address" type="text" name="searchField" class="address">
      <button id="submit" type="button"  class="btn teal darken-2" style="width: 80px"><i class="material-icons right">search</i>Consultar</button>
      <button  type="submit" id="btnCurrentPosition" class="btn yellow darken-4" style="width: 80px"><i class="material-icons right">my_location</i>Ubicacion Actual</button>

  <div class="">
  <form action="" method="post" id="locationsForm">
  <label id="dataField"></label>
  </div>
   
    <label for="data">Latitud</label>

   <input type="text" id="data" name="high" ><br>
     <label for="data">Longitu</label>

      <input type="text" id="dataLng" name="down" ><br>
        <label for="data">Direccion localizacion</label>

      <input type="text"  id="dataResults" name="address"></label>

<!<input type="submit" id="btnSave" class="btn" value="Registrar" style="width: 200px">
      </form>
    </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-yellow btn-flat">Cerrar</a>
            <button class=" btn-flat" onclick="resetMap();">Limpiar mapa</button>

    </div>
    
  </div>
  </body>


